<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>[% pagename %] - [% site_title %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta http-equiv="Content-Language" content="en-gb">
  <link rel="search" type="application/opensearchdescription+xml" title="Search perldoc.perl.org" href="/static/search.xml"/>
  <link href="[% IF download %][% path %][% ELSE %]/[% END %]static/css-20100830.css" rel="stylesheet" rev="stylesheet" type="text/css" media="screen">
  <link href="[% IF download %][% path %][% ELSE %]/[% END %]static/exploreperl.css" rel="stylesheet" rev="stylesheet" type="text/css">
</head>

<body onLoad="perldoc.startup();" onPageShow="if (event.persisted) perldoc.startup();">
    <div id="page">
      
      <div id="header">
	<div id="homepage_link">
	  <a href="[% path %]index.html"></a>
	</div>
	<div id="strapline">
	  Perl Programming Documentation
	</div>
	<div id="download_link" class="download">
	  <a href="http://www.perl.org/get.html">Download Perl</a>
	</div>
	<div id="explore_link" class="download">
	  <a id="explore_anchor" href="#">Explore</a>
	</div>
      </div>
      
      <div id="body">
        <div id="left_column">
          <div class="side_group">
            [% UNLESS download %]
	      <div class="side_panel doc_panel">
		<p>Perl version</p>
		<script language="JavaScript" type="text/javascript" src="/static/perlversion.js"></script>
		<ul>
		  <li><a href="[% path %]preferences.html">Preferences</a>
		</ul>
	      </div>
            [% END %]
	    <div class="side_panel doc_panel">
              <p>Manual</p>
              <ul>
                <li><a href="[% path %]index-overview.html">Overview</a>
                <li><a href="[% path %]index-tutorials.html">Tutorials</a>
                <li><a href="[% path %]index-faq.html">FAQs</a>
                <li><a href="[% path %]index-history.html">History / Changes</a>
                <li><a href="[% path %]index-licence.html">License</a>
              </ul>
            </div>
            <div class="side_panel doc_panel">
              <p>Reference</p>
              <ul>
                <li><a href="[% path %]index-language.html">Language</a>
                <li><a href="[% path %]index-functions.html">Functions</a>
                <li><a href="[% path %]perlop.html">Operators</a>
                <li><a href="[% path %]perlvar.html">Special Variables</a>
                <li><a href="[% path %]index-pragmas.html">Pragmas</a>
                <li><a href="[% path %]index-utilities.html">Utilities</a>
                <li><a href="[% path %]index-internals.html">Internals</a>
                <li><a href="[% path %]index-platforms.html">Platform Specific</a>
              </ul>
            </div>
            <div class="side_panel doc_panel">
              <p>Modules</p>
              <ul>
		<li>
		[% az_indexes = [] %]
                [% FOREACH az IN module_az %]
                  [% IF az.link %]
		    [% az_indexes.push(az) %]
		  [% END %]
		[% END %]
		[% FOREACH az IN az_indexes %]
                    <a href="[% path %][% az.link %]">[% az.letter %]</a>
                    [% UNLESS loop.last %]
                      [% IF ((loop.count % 5) == 0) %]
                        <li>
                      [% ELSE %]
                        &bull;
                      [% END %]
                    [% END %]
                [% END %]
              </ul>
            </div>
            [% IF download %]
	      <div class="side_panel doc_panel">
		<p>Tools</p>
		<ul>
		  <li><a href="[% path %]preferences.html">Preferences</a>
		</ul>
	      </div>
            [% END %]
          </div>
        </div>
        <div id="centre_column">
          <div id="content_header">
            <div id="title_bar">
              <div id="page_name">
                <h1>[% pagename %]</h1>
              </div>
              <div id="perl_version">
                Perl 5 version [% perl5_version %] documentation
              </div>
              <div class="page_links" id="page_links_top">
                <a href="#" onClick="toolbar.goToTop();return false;">Go to top</a>
		[% IF (pdf && pdf_link) %]
                  &bull; <a href="[% path %][% pdf_link %]">Download PDF</a>
		[% END %]
              </div>
	      <div class="page_links" id="page_links_bottom">
		[% IF page_index %]
                  <a href="#" id="page_index_toggle">Show page index</a> &bull;
		[% END %]
                <a href="#" id="recent_pages_toggle">Show recent pages</a>		
	      </div>
	      <div id="search_form">
		<form action="[% path %]search.html" method="GET" id="search">
		  <input type="text" name="q" id="search_box" alt="Search">
		</form>
	      </div>
            </div>
            <div id="breadcrumbs">
              [% INCLUDE breadcrumb.tt %]
            </div>
          </div>
          <div id="content_body">
	    <!--[if lt IE 7]>
 <div class="noscript">
   <p>
     <strong>It looks like you're using Internet Explorer 6. This is a very old
     browser which does not offer full support for modern websites.</strong>
   </p>
   <p>
     Unfortunately this means that this website will not work on
     your computer.
   </p>
   <p>
     Don't miss out though! To view the site (and get a better experience from
     many other websites), simply upgrade to
     <a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">Internet
Explorer 8</a>
     or download an alternative browser such as
     <a href="http://www.mozilla.com/en-US/firefox/firefox.html">Firefox</a>,
     <a href="http://www.apple.com/safari/download/">Safari</a>, or
     <a href="http://www.google.co.uk/chrome">Google Chrome</a>.
   </p>
   <p>
     All of these browsers are free. If you're using a PC at work, you may
     need to contact your IT administrator.
   </p>
 </div>
<![endif]-->
	    <noscript>
	      <div class="noscript">
	      <p>
                <strong>Please note: Many features of this site require JavaScript. You appear to have JavaScript disabled,
	        or are running a non-JavaScript capable web browser.</strong>
	      </p>
	      <p>
		To get the best experience, please enable JavaScript or download a modern web browser such as <a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">Internet Explorer 8</a>, <a href="http://www.mozilla.com/en-US/firefox/firefox.html">Firefox</a>, <a href="http://www.apple.com/safari/download/">Safari</a>, or <a href="http://www.google.co.uk/chrome">Google Chrome</a>.
              </p>
	      </div>
	    </noscript>

	    <div id="recent_pages" class="hud_container">
	      <div id="recent_pages_header" class="hud_header">
		<div id="recent_pages_close" class="hud_close"><a href="#" onClick="recentPages.hide();return false;"></a></div>
		<div id="recent_pages_title" class="hud_title"><span class="hud_span_top">Recently read</span></div>
		<div id="recent_pages_topright" class="hud_topright"></div>
	      </div>
	      <div id="recent_pages_content" class="hud_content">
	      </div>
	      <div id="recent_pages_footer" class="hud_footer">
		<div id="recent_pages_bottomleft" class="hud_bottomleft"></div>
		<div id="recent_pages_bottom" class="hud_bottom"><span class="hud_span_bottom"></span></div>
		<div id="recent_pages_resize" class="hud_resize"></div>
	      </div>
	    </div>
  
	    <div id="from_search"></div>
            [% INCLUDE $content_tt %]
	    &nbsp;
          </div>
          <div id="content_footer">
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
    <div id="footer">
      <div id="footer_content">
        <div id="footer_strapline">
          perldoc.perl.org - Official documentation for the Perl programming language
        </div>
        <div id="footer_links">
          <div id="address">
            <p class="name">Contact details</p>
            <p class="address">
	      Site maintained by <a href="mailto:jj@jonallen.info">Jon Allen (JJ)</a><br>
	    </p>
            <p class="contact">
              Documentation maintained by the <a href="http://lists.perl.org/list/perl5-porters.html">Perl 5 Porters</a>
            </p>
          </div>
          <ul class="f1">
            <li>Manual
              <ul class="f2">
                <li><a href="[% path %]index-overview.html">Overview</a>
                <li><a href="[% path %]index-tutorials.html">Tutorials</a>
                <li><a href="[% path %]index-faq.html">FAQs</a>
                <li><a href="[% path %]index-history.html">Changes</a>
              </ul>
            <li>Reference
              <ul class="f2">
                <li><a href="[% path %]index-language.html">Language</a>
                <li><a href="[% path %]index-functions.html">Functions</a>
                <li><a href="[% path %]perlop.html">Operators</a>
                <li><a href="[% path %]perlvar.html">Variables</a>
              </ul>
            <li>Modules
              <ul class="f2">
                <li><a href="[% path %]index-modules-A.html">Modules</a>
                <li><a href="[% path %]index-pragmas.html">Pragmas</a>
                <li><a href="[% path %]index-utilities.html">Utilities</a>
              </ul>
            <li>Misc
              <ul class="f2">
                <li><a href="[% path %]index-licence.html">License</a>
                <li><a href="[% path %]index-internals.html">Internals</a>
                <li><a href="[% path %]index-platforms.html">Platforms</a>
              </ul>          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div id="footer_end">
      </div>
    </div>
      
    </div>
      <script language="JavaScript" type="text/javascript" src="[% IF download %][% path %][% ELSE %]/[% END %]static/exploreperl.js"></script>
      <script language="JavaScript" src="[% IF download %][% path %][% ELSE %]/[% END %]static/combined-20100403.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
  perldoc.setPath([% pagedepth %]);
  perldoc.pageName    = '[% pagename %]';
  perldoc.pageAddress = '[% pageaddress %]';
  perldoc.contentPage = [% contentpage or 0 %];
  explorePerl.render();
  explorePerl.addEvents('explore_anchor');
</script>
    [% UNLESS download %]
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTrackerJJ = _gat._getTracker("UA-1892152-2");
pageTrackerJJ._initData();
pageTrackerJJ._trackPageview();
var pageTrackerRobert = _gat._getTracker("UA-50555-3");
pageTrackerRobert._initData();
pageTrackerRobert._trackPageview();
</script>
    [% END %]
  </body>
</html>
